<template>
  <div style="max-width: 1000px; margin: 0 auto">

    <div style="display: flex; font-size: 12px; margin: 20px -10px">
      <div style="width: 7%; padding: 0 10px">
        <p style="color: grey">Id</p>
        <input style="width: 100%" type="text" v-model="form.id">
      </div>
      <div style="width: 15%; padding: 0 10px">
        <p style="color: grey">Name</p>
        <input style="width: 100%" type="text" v-model="form.name">
      </div>
      <div style="width: 8%; padding: 0 10px">
        <p style="color: grey">Money</p>
        <input style="width: 100%" type="text" v-model="form.money">
      </div>
      <div style="width: 60%; padding: 0 10px">
        <p style="color: grey">Companies (separate be coma)</p>
        <input style="width: 100%" type="text" v-model="form.companies">
      </div>
    </div>

    <div style="display: flex;">
      <button @click="getGlobally" style="padding: 5px 10px">GET BY ID</button>
      <div style="flex-grow: 1"></div>
      <button @click="setGlobally" style="padding: 5px 10px; margin-left: 20px">SET GLOBALLY</button>
      <button @click="setToPorns" style="padding: 5px 10px; margin-left: 20px">SET TO PORNS</button>
      <button @click="setToIndustrial" style="padding: 5px 10px; margin-left: 20px">SET TO INDUSTRIAL</button>
    </div>

    <div style="display: flex; margin: 30px -10px 10px">
      <span style="flex-grow: 1; font-size: 14px; color: lightgrey; font-weight: 600">Globals</span>
      <button @click="peoplesCont.clear()">Clear the container (all)</button>
    </div>
    <div v-for="person in peoplesCont.get()" :key="'All'+person.id">
      <div :style="{backgroundColor: formattedForm.id === person.id ? '#f5f5f5' : '#fff', fontWeight: formattedForm.id === person.id ? 700 : 100}" style="display: flex; font-size: 12px; margin: 0 -10px; padding: 5px 0">
        <div style="padding: 0 10px; width: 7%">{{ person.id }}</div>
        <div style="padding: 0 10px; width: 15%">{{ person.name }}</div>
        <div style="padding: 0 10px; width: 8%">${{ person.money }}</div>
        <div style="padding: 0 10px; flex-grow: 1">{{ person.companies.join(', ') }}</div>
        <button @click="person.name = form.name" style="margin-right: 10px">Set name</button>
        <button @click="person.money = form.money" style="margin-right: 10px">Set money</button>
        <button @click="person.companies = formattedForm.companies" style="margin-right: 10px">Set companies</button>
        <button @click="peoplesCont.remove(person.id)">Remove</button>
      </div>
    </div>

    <div style="display: flex; margin: 30px -10px 10px">
      <span style="flex-grow: 1; font-size: 14px; color: lightgrey; font-weight: 600">Porn</span>
      <button @click="peoplesCont.clear('porn')">Clear porn group</button>
    </div>
    <div v-for="person in peoplesCont.group('porn')" :key="'Porn'+person.id">
      <div :style="{backgroundColor: formattedForm.id === person.id ? '#f5f5f5' : '#fff', fontWeight: formattedForm.id === person.id ? 700 : 100}" style="display: flex; font-size: 12px; margin: 0 -10px; padding: 5px 0">
        <div style="padding: 0 10px; width: 7%">{{ person.id }}</div>
        <div style="padding: 0 10px; width: 15%">{{ person.name }}</div>
        <div style="padding: 0 10px; width: 8%">${{ person.money }}</div>
        <div style="padding: 0 10px; flex-grow: 1">{{ person.companies.join(', ') }}</div>
        <button @click="person.name = form.name" style="margin-right: 10px">Set name</button>
        <button @click="person.money = form.money" style="margin-right: 10px">Set money</button>
        <button @click="person.companies = formattedForm.companies" style="margin-right: 10px">Set companies</button>
        <button @click="peoplesCont.remove(person.id, 'porn')">Remove</button>
      </div>
    </div>

    <div style="display: flex; margin: 30px -10px 10px">
      <span style="flex-grow: 1; font-size: 14px; color: lightgrey; font-weight: 600">Industrial</span>
      <button @click="peoplesCont.clear('industrial')">Clear industrial group</button>
    </div>
    <div v-for="person in peoplesCont.group('industrial')" :key="'Industrial'+person.id">
      <div :style="{backgroundColor: formattedForm.id === person.id ? '#f5f5f5' : '#fff', fontWeight: formattedForm.id === person.id ? 700 : 100}" style="display: flex; font-size: 12px; margin: 0 -10px; padding: 5px 0">
        <div style="padding: 0 10px; width: 7%">{{ person.id }}</div>
        <div style="padding: 0 10px; width: 15%">{{ person.name }}</div>
        <div style="padding: 0 10px; width: 8%">${{ person.money }}</div>
        <div style="padding: 0 10px; flex-grow: 1">{{ person.companies.join(', ') }}</div>
        <button @click="person.name = form.name" style="margin-right: 10px">Set name</button>
        <button @click="person.money = form.money" style="margin-right: 10px">Set money</button>
        <button @click="person.companies = formattedForm.companies" style="margin-right: 10px">Set companies</button>
        <button @click="peoplesCont.remove(person.id, 'industrial')">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'main-component',
  data () {
    return {
      form: {
        id: '1',
        name: '',
        companies: ''
      },
      peoples: [
        { id: 1, name: 'John Cina', money: '100', companies: [ 'WWE', 'BMW' ] },
        { id: 2, name: 'Elon Mask', money: '9400', companies: [ 'SpaceX', 'Tesla' ] },
        { id: 3, name: 'Jina Ross', money: '450', companies: [ 'Pepsi' ] },
        { id: 4, name: 'Riley Reid', money: '540', companies: [ 'PornHub' ] },
        { id: 5, name: 'Sasha Grey', money: '1500', companies: [ "McDonald's", 'Oral-B' ] }
      ]
    }
  },
  computed: {
    peoplesCont () {
      return this.$container('peoples')
    },
    formattedForm () {
      return {
        id: Number(this.form.id),
        money: this.form.money,
        name: this.form.name,
        companies: this.form.companies.split(',')
      }
    }
  },
  methods: {
    getGlobally () {
      let person = this.peoplesCont.get(this.form.id)
      if (person) {
        this.form = {
          id: person.id,
          money: person.money,
          name: person.name,
          companies: person.companies.join(',')
        }
      }
    },
    setGlobally () {
      console.log(this.formattedForm)
      this.$container('peoples').set({ ...this.formattedForm })
    },
    setToPorns () {
      this.$container('peoples').set({ ...this.formattedForm }, 'porn')
    },
    setToIndustrial () {
      this.$container('peoples').set({ ...this.formattedForm }, 'industrial')
    }
  },
  mounted () {
    this.$container('peoples').set(this.peoples)
    this.$container('peoples').set(this.peoples.slice(3), 'porn')
    this.$container('peoples').set(this.peoples.slice(0, 2), 'industrial')
    this.getGlobally()
  }
}
</script>

<style scoped>
</style>
