<template>
  <div style="height: 100px; font-size: 10px; max-width: 1000px; background-color: aliceblue; margin: 0 auto; padding: 12px">
    <p><b>Status</b></p>
    <div>
      compaines count:
      {{ $container('peoples').get().reduce((acc, value) => {acc = acc + value.companies.length; return acc}, 0) }}
    </div>
    <div>
      peoples count:
      {{ $container('peoples').get().length }}
    </div>
    <div>
      money sum:
      ${{ $container('peoples').get().reduce((acc, value) => {acc = acc + Number(value.money); return acc}, 0) }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'status'
}
</script>

<style scoped>
</style>
