<template>
  <div id="app">
    <status/>
    <main-component/>
  </div>
</template>

<script>
import Main from '@/components/Main.vue'
import Status from '@/components/Status.vue'

export default {
  name: 'app',
  components: { 'main-component': Main, Status }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
